# ========================
# OS & Global
# ========================
.DS_Store
Thumbs.db

# ========================
# BACKEND (Java / Spring Boot)
# ========================
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.class
*.log
*.jar
*.war

# ========================
# FRONTEND (React / Node)
# ========================
node_modules/
build/
dist/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# IDEs & Editors
# ========================
# VS Code
.vscode/

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ========================
# Docker
# ========================
docker-compose.override.yml